* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.marketing{
	margin:0px 0px 0px 215px;
	padding: 0px 0px 0px 0px;
}

body{
	font-family: 'Catamaran', sans-serif;
font-family: 'Old Standard TT', serif;
}
.marketing p{
	margin:5px 0px 25px 0px; 
	font-family: Georgia, serif;
	font-size: 16px;
}

.header{
	height:90vh;
	width:100%;   
	background-size:cover;

}
.h-100{
	height:100%;
	width: 100%;
}

.new1{
	background-image:url("/static/images/threelines.png");
	background-width:20px;
	background-height:20px;
}