{% extends 'home.html' %}
{% block content %}
<div class="contact">
	<div class="container mt-3">
	<div class="row justify-content-center mb-3">
	<div class="col-md-10">
		<h4 class="text-center alert alert-info">Contact Us</h4>
	<strong>	<p class="text-center">Head Of The Department,<br>
		M.Sc. (IT), GLS University,<br>
		GLS Campus, Opposite Law Garden,<br>
		Ellisbridge, Ahmedabad 380 006<br>
		Gujarat,<br>
		India.<br>
	Contact: +91-9409583791, 8758249115 079-26447636<br>
Mail at mscit@glsuniversity.ac.in</p></strong>
</div>
</div>
</div>
</div>
{% endblock content %}